*{
    margin:0;
   /* /font-family: 'Cinzel Decorative'; */
    font-family: Roboto;
}
.navbar{
    height: 185px;
    background-color:white;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/* LOGO */
.nav-logo{
    height: 120px;
    min-width:110px;
    max-width: 130px;
}
.logo{
    background-image: url("logo.jpeg");
    background-size: cover;
   height:100%;
   width: 100%;
}

.border{
border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid black;
}
/* FOR TITLE HOMECRAFT HEAVEN */

.nav-title{ 
    color:rgb(59,22,22);
    font-size: 35px;
    font-family: 'Sedan SC';
    font-weight:900px;
    margin-top: 30px;
    padding-left: 25px;
    text-align: center;
    height:fit-content;
 } 

 /* Search bar */
 .nav-search{
 
    display: flex;
    width: 500px;
    height: 45px;
    border-radius: 4px;
    justify-content: space-evenly;
 }

 .search-input{
    
    width:100%;
    font-size: 1rem;
    border:2px solid lightgrey;
    color: rgb(119,119,119);


 }
 .search-icon{
    width: 40px;
    border:2px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
 }

 .nav-consultation
 {
    padding-left: 25px;
    padding-top: 15px;
text-align: center;
width:250px;
align-items: center;
height: 55px;
color: white;
background-color: rgb(223,153,48);
 }

 .call{
    background-color:rgb( 219,92,37);
    height: 55px;
    width: 100px;
    text-align: center;
    color: white;
    padding-top: 15px;

    
 }

 /* NAVBAR 2 */
 .navbar2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(	64,33,34);
    color:white;
    font-size: small;
    height: 45px;
 }
 /* .second{ */
    /* justify-content: space-evenly; */

    /* width:fit-content; */
    /* height: 45px; */
    /* color: white; */
 /* } */
   a{
 color: white;
    text-decoration: none;
 }
 a:hover{
    color: black!important;
 }
 .second:hover
 {
    border: 2px solid black;
    background-color:white;
    color:black;
   
     }


/* Footer part */
.container{
    background-color: rgba(64, 33, 34, 1);
    padding: 52px;
    
    
}
.address{
    float: left;
    width: 25%;
    line-height: 25px;
    padding-left:5%;
}
.address h4{
    color: rgba(206, 175, 54,1) ;
    font-size: 16px;
}
.address ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.address ul li a{
    font-size: 14px;
    line-height: 35px;
    color: white;
}
.address ul li a:hover{
    color: rgba(206, 175, 54,1);
}
.address ul li{
    color: white;
}
.services{
    float: left;
    width: 25%;
    padding-left: 5%;
}
.services h4{
    color: rgba(206, 175, 54,1) ;
    font-size: 16px;
}
.services ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.services ul li a{
    font-size: 14px;
    line-height: 35px;
    color: white;
}
.services ul li a:hover{
    color: rgba(206, 175, 54,1);

}
.company{
    float: left;
    width: 25%;
}
.company h4{
    color: rgba(206, 175, 54,1) ;
    font-size: 16px;
}
.company ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.company ul li a
{
    font-size: 14px;
    line-height: 35px;
    color: white;
}
.company ul li a:hover

{
    color: rgba(206, 175, 54,1);

}
.news p{
    color: white;
}
.news h4{
    color:  rgba(206, 175, 54,1);
}
.news input button{
    color:  rgba(206, 175, 54,1);
    background-color:  rgba(206, 175, 54,1);
    font-family: 'Cinzel Decorative';
    border: border-box;

}

/* End of footer */


.logo1 ul li{
    list-style: none;
}
.logo1 ul li a i{
list-style: none;
float:right;
padding-right:25px;
margin-right: 35px;

}
.logo1 p{
    color:rgba(206, 175, 54,1);
    margin-right:25px;
}
/* Footer image */
.footerlogo img{
display: block;
margin: auto;
height: 75px ;
width:fit-content;
}
.footerlogo p{
    color:rgba(206, 175, 54,1);
    text-align: center;
    font-size: 18px;
    font-style:Roboto;
    font-weight:semi bold;
    text-decoration: underline;
}
/* Footer image end */
/* body starts */
.about1{
     width: 1450px;
    height: 470px;
    flex-shrink: 0;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background-repeat: no-repeat;


    
}